body {
    background-color: #000c13;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html, body {
    width: 100%;
    margin: 0;
}

p {
    font-family: 'Share Tech Mono', monospace;
    color: ghostwhite;
    margin: 0;
}